{%  extends 'base.html' %}
<html>
<head>
    <title>Home Page</title>
    {% block content %}
    <dl>
        <dt class="font-weight-bold">About Founder:</dt>
        <dd>content about founder</dd>
        <dt class="font-weight-bold">About DurgaSoft:</dt>
        <dd>Content about institute</dd>
        <dt class="font-weight-bold">Achievements:</dt>
        <td>
            <ol>
                <li>somany students placed in MNCs in the world</li>
                <li>somany students placed in MNCs in the world</li>
                <li>somany students placed in MNCs in the world</li>
                <li>somany students placed in MNCs in the world</li>
                <li>somany students placed in MNCs in the world</li>
            </ol>
        </td>
    </dl>
    {% endblock %}
</head>
</html>