{% extends 'base.html' %}
<html>
<head>
    <title> services page</title>
</head>
<body>
{% block content %}
<h1 class="text-center">Available Courses</h1>
<table class="table table-bordered text-center text-white">
<thead>
<tr class="bg-danger">
    <th>course name</th>
    <th>strat date</th>
    <th>duration</th>
    <th>timings</th>
    <th>fee</th>
    <th>Faculty Name</th>
</tr>
</thead>
<tbody>
<tr class="bg-warning">
    <td>python</td>
    <td>11-04-2019</td>
    <td>45 days</td>
    <td>10am-11.30am</td>
    <td>2000</td>
    <td>Narayana</td>
</tr><tr class="bg-primary">
    <td>python</td>
    <td>11-04-2019</td>
    <td>45 days</td>
    <td>10am-11.30am</td>
    <td>2000</td>
    <td>Narayana</td>
</tr><tr class="bg-warning">
    <td>python</td>
    <td>11-02-2019</td>
    <td>45 days</td>
    <td>2pm-3.30pm</td>
    <td>2000</td>
    <td>Narayana</td>
</tr><tr class="bg-warning">
    <td>django</td>
    <td>1-03-2019</td>
    <td>45 days</td>
    <td>9am-11.30am</td>
    <td>2000</td>
    <td>Narayana</td>
</tr><tr class="bg-warning">
    <td>restapi</td>
    <td>11-05-2019</td>
    <td>45 days</td>
    <td>11.30am-12.30pm</td>
    <td>2000</td>
    <td>Narayana</td>
</tr>

</tbody>
</table>
{% endblock %}</body>
</html>